{% extends 'base_admin.html.twig' %}

{% block title %}Position index{% endblock %}

{% block body %}
    <h1>Position index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td>{{ position.id }}</td>
                <td>{{ position.name }}</td>
                <td>
                    <a href="{{ path('app_position_show', {'id': position.id}) }}">show</a>
                    <a href="{{ path('app_position_edit', {'id': position.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_position_new') }}">Create new</a>
{% endblock %}
