{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block stylesheets %}
<style>
    .login-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        height: 70vh;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-form .form-control {
        width: 300px;
        margin-bottom: 10px;
    }

    .login-title {
        text-align: center; /* Center the title text */
        margin-bottom: 20px;
    }

    .create {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Use margin-top instead of padding-top */
    }

    /* Use a more specific selector for the map container */
    .login-map-container {
        grid-column: span 1; /* Adjust the number of grid columns */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Responsive design for the map */
    .login-map-container iframe {
        width: 100%;
        height: 400px;
        border: 0;
    }
</style>
{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-form">
            <h1 class="login-title">Contact</h1>
            {{ form_start(form) }}
            {{ form_row(form.first_name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.last_name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.phone_number, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.title_name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.note, { 'attr': {'class': 'form-control', 'rows': 5} }) }}
            <div class="create">
                <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="login-map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.945408700685!2d106.7070632!3d10.8154898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752896b7078a05%3A0xfe9d7fe53a97952e!2zVGhlIEh5Y280IFRvd2VyLCAyMDUgTmd1eeG7hW4gWMOtLCBQaMaw4budbmcgMjYsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1sen!2s!4v1689512573031!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
